
<form action= "<%= session_url %>" method="post">
  
  <label for="email">e-mail</label>
  <input type="text" name="user[email]">
  
  <br>
  <label for="password">password</label>
  <input type="password" name="user[password]">
  
  <input type="submit">
</form>